@model SGPI.Models.Usuario

@{
    ViewData["Title"] = "Actualizar.";
    Layout = "_LayoutESTUDIANTE";
}


<form method="post">
<div class=" container">

<!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('');
        height: 100px;
  "></div>

   <center><div class="container card mx-4 mx-md-5 shadow-5-strong" style="
        position: relative;
        bottom: 25px;
        background:#343A40;
        backdrop-filter: blur(30px);
        ">
 

            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="selectdocumento">Seleccione su tipo de documento:</label> <br />
                        @Html.DropDownList("IdDoc", new SelectList(ViewBag.documento, "IdDoc", "TipoDocumento"), new{@class="form-control dropdown"})
                    </div>
                    <br />
                </div>



                <!-- INICIO DE LOS CAMPOS -->
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="documentotxt">Número de documento</label> <br />
                        <input asp-for="NumeroDocumento" type="text" id="documentotxt" class="form-control" required />
                    </div>
                    <br />
                </div>
                <!-- ACABAN LOS CAMPOS -->





                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="selectsexo">Seleccione su sexo:</label> <br />
                            @Html.DropDownList("IdGenero", new SelectList(ViewBag.genero, "IdGenero", "Genero1"), new{@class="form-control dropdown"})        
                    </div>
                    <br />
                </div>
            </div>






            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="nombretxt">Primer Nombre:</label> <br />
                        <input asp-for="PrimerNombre" type="text" id="nombretxt" class="form-control" />
                    </div>
                    <br />
                </div>

                <div class="col-md-4 mb-4">
                        <div class="form-outline">
                            <label class="form-label text-white" for="segundonombretxt">Segundo Nombre:</label> <br />
                            <input asp-for="SegundoNombre" type="text" id="segundonombretxt" class="form-control" />
                        </div>
                        <br />
                </div>

                <!-- INICIO DE LOS CAMPOS -->
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="primerapellidotxt">Primer Apellido:</label> <br />
                        <input asp-for="PrimerApellido" type="text" id="primerapellidotxt" class="form-control" />
                    </div>
                    <br />
                </div>
                <!-- ACABAN LOS CAMPOS -->
                
            </div>



            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="segundoapellidotxt">Segundo Apellido:</label> <br />
                        <input asp-for="SegundoApellido" type="text" id="segundoapellidotxt" class="form-control" />
                    </div>
                    <br />
                </div>

                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="emailtxt">Correo electrónico:</label> <br />
                        <input asp-for="Email" type="email" id="emailtxt" class="form-control" />
                    </div>
                    <br />
                </div>


                <!-- INICIO DE LOS CAMPOS -->
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="emailtxt">Contraseña:</label> <br />
                        <input asp-for="Password" type="password" id="password" class="form-control" />
                    </div>
                    <br />
                </div>   
                <!-- ACABAN LOS CAMPOS -->              
            </div>

            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="selectprograma">Seleccione su programa:</label> <br />
                            @Html.DropDownList("IdPrograma", new SelectList(ViewBag.programa, "IdPrograma", "Programa1"), new{@class="form-control dropdown"})
                    </div>
                    <br />
                </div>
            </div>

            </div> <br /></center>

            @if (ViewBag.mensajeActualizar != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.mensajeActualizar
                </div>
            }

            <button class="btn btn-lg px-5 text-white" type="submit" style="background-color:#343A40">Actualizar usuario</button>

            </section>
    </form>
    
    



@*<div class="row">
    <div class="col-sm-4 form-floating">

        <div class="justify-content-md-center align-items-center ">
            <h4> Tipo de Documento </h4>
            @Html.DropDownList("IdDoc", new SelectList(ViewBag.documento, "IdDoc", "TipoDocumento"), new{@class = "form-control dropdown"})
        </div>
    </div>
    <br>

    <div class="col-sm-4 justify-content-md-center align-items-center">      
            <h4> Numero de Documento </h4>
            <div class="col">
                 <input asp-for="NumeroDocumento" type="text" class="form-control" id="documentotxt" placeholder="Numero De Documento" name="Documento">
            </div>    
    </div>

    <div class="col-sm-4 justify-content-md-center align-items-center">
            <h4> Género </h4>
            <div class="col ">
               @Html.DropDownList("IdGenero", new SelectList(ViewBag.genero, "IdGenero", "Genero1"), new{@class="form-control dropdown"})
            </div> 
    </div>
    <br>
    <br>
    <br>

</div>
<br>

<div class="row">
    <div class="col-sm-4 justify-content-md-center align-items-center h-100">       
            <h4> Primer Nombre </h4>
            <div class="col">
                 <input asp-for="PrimerNombre" type="text" class="form-control" id="Nombretxt" placeholder="Ingrese su Nombre" name="Nombre">
            </div>
    </div>

    <div class="col-sm-4 justify-content-md-center align-items-center h-100">
            <h4> Segundo Nombre </h4>
                <div class="">
                    <input asp-for="SegundoNombre" type=text class="form-control col" id="Apellido1txt" placeholder="Ingrese su segundo nombre">
                </div>
        </div>

    <div class="col justify-content-md-center align-items-center h-100">
            <h4> Primer Apellido </h4>
            <div class="">
                <input asp-for="PrimerApellido" type="text" class="form-control col" id="Apellido1txt" placeholder="Ingrese Su Primer Apellido" name="Apellido1">
            </div> 
    </div>

</div>
<br>

<div class="row">
    <div class="col justify-content-md-center align-items-center h-100">    
            <h4> Segundo Apellido </h4>
            <div class="col">
                <input asp-for="SegundoApellido"type="text" class="form-control col" id="Apellido2" placeholder="Ingrese Su Segundo Apellido" name="Apellido2">
            </div>
    </div>

    <div class="col justify-content-md-center align-items-center h-100">     
            <h4> Correo Electronico </h4>
            <div class="col">
                <input asp-for="Email"type="text" class="form-control col" id="Correotxt" placeholder="Ingrese Su Correo" name="Correo">
            </div>  
    </div>

    <div class="col-md-4 mb-4">
            <div class="form-outline">
                <h4> Contraseña </h4>
                    <input asp-for="Password" type="password" class="form-control col" id="Passwordtxt" placeholder="Ingrese su contraseña">
            </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-4 justify-content-md-center align-items-center ">
        <h4> Programas </h4>
        @Html.DropDownList("IdPrograma", new SelectList(ViewBag.programa, "IdPrograma", "Programa1"), new{@class = "form-control dropdown"})
    </div>
</div>


<div class="col-lg-6 offset-lg-5">
    <button type="submit" class="btn btn-dark">Modificar Usuario</button>
</div>
</div>
</form>*@